.container {
  margin:auto;
  width: 1000px;
}

.header {
    padding: 10px;
    background-color: #FFA348;
    color: #7E3F00;
}
.dank {
  color: red;
}

img {
  position: relative;
  width: auto;
  height: 150px;
  width: 90%;
  display: block;
  margin: auto;
  border: 5px solid blue;
}
.gwar1 {
  display: block;
  color: blue;
  padding: 5px;
  font: bold 12px Arial;
}

.friends-of-gwar {
  text-align: center;
  width: 100%;
  display: inline-block;
  float: left;
}
.gwar-row {
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}
